<div id="<%= dom_id account_transaction %>" class="form-div">
  <tr class="candidates-list">
    <td class="candidate-list-favourite-time text-center">
      <span class="candidate-list-time order-1" style="margin-left:30%;"><%= account_transaction.account.username %></span>
    </td>
    <td class="title">
      <div class="candidate-list-details">
        <div class="candidate-list-info">
          <div class="candidate-list-title">
            <h5 class="mb-0" style="margin-left: 17%;"><%= account_transaction.pokemon_in_wallet.pokemon.display_name %></h5>
          </div>
          <div class="candidate-list-option">
            <ul class="list-unstyled">
              <li>Pokédex ID: <%= account_transaction.pokemon_in_wallet.pokemon.id %></li>
            </ul>
          </div>
        </div>
      </div>
    </td>
    <td class="candidate-list-favourite-time text-center">
      <span class="candidate-list-time order-1" style="margin-left:30%;"><%= number_to_currency(account_transaction.dollar_price) %></span>
    </td>
    <td class="candidate-list-favourite-time text-center">
      <span class="candidate-list-time order-1" style="margin-left:40%;"><%= account_transaction.transaction_type %></span>
    </td>
    <td class="candidate-list-favourite-time text-center">
      <span class="candidate-list-time order-1" style="margin-left:30%;"><%= account_transaction.created_at.in_time_zone('Brazil/East').strftime("%Y-%m-%d %H:%M:%S") %></span>
    </td>
  </tr>

</div>
